h3 Form login

form(method="post" action="/login")
  .form-group
    label(for='exampleInput1') Username
    input#exampleInputEmail1.form-control(type='text', aria-describedby='user', name='username' placeholder='Enter username')
    
    button.btn.btn-primary(type='submit') Submit
      

      